input[type=text]
{
    border: 5px solid hotpink;
    border-radius: 4px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
}

label
{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: large;
}